---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Standard text variables
$standard-text: 1.2em;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: $standard-text;
}
p {
    font-size: $standard-text;
    line-height: 1.4em;
    color: #333;
}
p.caption{
    text-align: center;
    font-style: italic;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
    font-size: $standard-text;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: $standard-text;
}

ul.posts li {
    list-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Me"] {
    max-width: 250px;
}

img[alt="cannondale"] {
    max-width: 400px;
}
div.MathJax_Display {
    font-size: $standard-text;
}
div.scenario {
    background-color: aliceblue;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.1em solid gray;
    box-shadow: 0.1em 0.1em 5px 1px;
}
span.sc {
    font-variant: small-caps;
}

//// Nav bar and footer

.fa.big {
    font-size:2em;
}

.fa:hover {
    color: rgb(3, 169, 244);
}

.social-media-list a:hover {
    text-decoration:none;
}

.nav-box{
    border-bottom: 1px solid #d5d5d5;
    height: 30px;
}
.emoji {
    display: inline;
}

//// Hero photo

.hero-photo {
    background-image: url("https://images.unsplash.com/photo-1440549770084-4b381ce9d988?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=");
    background-size: cover;    
    line-height: 30em;
    height: 30em;
    opacity: 0.9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.intro-text.typewrite {
  // color:#fff;
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 2em;
  color:white;
  padding-top:10em;
  &:hover {
    text-decoration:none;

  }
}
