---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$h2-font-size: $base-font-size * 1.25;
$h1-font-size: $base-font-size * 1.75;
$base-line-height: 1.5;
$separator-border-bottom: 1px solid #d5d5d5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-med-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 25%);

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Standard text variables

body {
    margin: 60px auto;
    width: 70%;
    font-family: $base-font-family;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: $h2-font-size;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
    color: #8c1515;
}
h1 {
    font-size: $h1-font-size;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: $h2-font-size;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: $base-font-size;
}
p {
    font-size: $base-font-size;
    line-height: 1.4em;
    color: #333;
}
p.caption{
    text-align: center;
    font-style: italic;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 10px;
}

ul {
    font-size: $base-font-size;
}

ul.posts { 
    font-size: $base-font-size;
    padding: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Me"] {
    max-width: 350px;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt="cannondale"] {
    max-width: 400px;
}
div.MathJax_Display {
    font-size: $base-font-size;
}
div.scenario {
    background-color: aliceblue;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.1em solid gray;
    box-shadow: 0.1em 0.1em 5px 1px;
}
span.sc {
    font-variant: small-caps;
}

//// Footer

.fa.big {
    font-size:2em;
}

.social-media-list a:hover {
    text-decoration:none;
}

.emoji {
    display: inline;
}

//// Nav bar


/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: $grey-color-light;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:not(.active):hover:before, div.borderXwidth a:not(.active):hover:after
{
    opacity: 1;
    width: 100%;
}


.nav-box .container a
{
    // color: blue;
    color: $grey-color-med-light;
    text-decoration: none;
    margin: 0px 0px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size: $h2-font-size;
    font-weight: bold;
    &.active {
        color: rgba(0, 0, 0, 0.7);
    }
}

.nav-box{
    // border-bottom: $separator-border-bottom;
    height: 40px;
}


//// Hero photo

.hero-photo {
    background-image: url("https://images.unsplash.com/photo-1440549770084-4b381ce9d988?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=");
    background-size: cover;    
    line-height: 30em;
    height: 30em;
    opacity: 0.9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.intro-text.typewrite {
  // color:#fff;
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 2em;
  color:white;
  padding-top:10em;
  &:hover {
    text-decoration:none;
  }
  cursor:default;
}

/// Blog post feed

.post-list-header {
    font-weight: bold;
    font-size: $h2-font-size;
    list-style: none;
    margin-bottom: 1em;
}
.separator {
    width: 100%;
    border-bottom: $separator-border-bottom;
    margin-bottom: 15px;
    margin-top: -20px;

}

/// Pace progress bars
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/// Post images
.inline-image {
  max-width: 70%;
}

.big-inline-image {
  max-width: 90%;
}

.small-inline-image {
  max-width: 40%; 
}

.inline-chart {
  max-width: 30em;
}

//
// Tables
// --------------------------------------------------

table {
    background-color: $table-bg;
  
    // Table cell sizing
    //
    // Reset default table behavior
  
    col[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      display: table-column;
      float: none;
    }
  
    td,
    th {
      &[class*="col-"] {
        position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
        display: table-cell;
        float: none;
      }
    }
  }
  
  caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    text-align: left;
  }
  
  th {
    text-align: left;
  }
  
  
  // Baseline styles
  
  table {
    width: 100%;
    max-width: 100%;
    // margin-bottom: $line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: $table-cell-padding;
          vertical-align: top;
          border-top: 1px solid $table-border-color;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid $table-border-color;
    }

  }